<div class="container mt-4">
  <h1 class="mb-5">Gestion de Inventario</h1>
  <a routerLink="/" class="btn btn-secondary mb-3">Lista</a>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name">Nombre Producto</label>
      <input type="text" formControlName="name" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
      <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
        <div *ngIf="f['name'].errors['required']">El nombre del producto es obligatorio.</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="description">Descripcion</label>
      <textarea formControlName="description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
      <label for="price">Precio</label>
      <input type="text" formControlName="price" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['price'].errors }" />
      <div *ngIf="submitted && f['price'].errors" class="invalid-feedback">
        <div *ngIf="f['price'].errors['required']">Se requiere precio</div>
        <div *ngIf="f['price'].errors['pattern']">
          El precio debe ser un formato de dinero válido (por ejemplo, 10,99 €)
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="quantity">Cantidad</label>
      <input type="text" id="quantity" formControlName="quantity" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['quantity'].errors }" />
      <div *ngIf="submitted && f['quantity'].errors" class="invalid-feedback">
        <div *ngIf="f['quantity'].errors['required']">Se requiere cantidad</div>
        <div *ngIf="f['quantity'].errors['pattern']">
          La cantidad debe ser un número entero.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Agregar</button>
      <button type="button" (click)="onReset()" class="btn btn-warning">Recetear</button>
    </div>
  </form>
</div>
