<div class="container mt-4">
  <h1 class="mb-5">Gestion de Inventario</h1>
  <a routerLink="/product-create" class="btn btn-primary mb-3">Crear</a>
  <table class="table table-striped">
    <thead class="table-primary">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Cantidad</th>
      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.quantity }}</td>
       
      </tr>
    </tbody>
  </table>
</div>
